body{
    margin:0;
    padding:0;
    font-family: Segoe Print;
    background:url(/images/survivor.jpg);
    background-size:cover;
}

.box {
    width: 450px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    border: 3px solid rgb(132, 21, 21);
}

.box h1 {
    color: rgb(245, 247, 248);
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type=text],.box input[type=password] {
    border: 0;
    background: none;
    display:block;
    margin: 20px auto;
    text-align: center;
    border:3px solid rgb(96, 7, 7);
    padding: 14px 10px;
    width: 220px;
    outline:none;
    color:rgb(243, 245, 248);
    border-radius: 14px;
    transition:0.25px;
}

.box input[type=text],.box input[type=password]:focus{
    width: 270px;
    border-color: rgb(96, 7, 7);
    
}

.box input[type=submit] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(96, 7, 7);
    padding:14px 35px;
    outline:none;
    color: rgb(245, 247, 249);
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type=submit]:hover {
background: ;
}

.footer .border-highlight{
    border-top: 1px solid var(--primary-color-highlight);
}
